/* 10/12/14/16/18/20/24/30/36/44/52/62/74/86/98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
}

header {
  height: 100vh;
  /* background-color: blanchedalmond; */
}

.logo {
  height: 30px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  padding-top: 48px;
  align-items: center;

  /* background-color: #fdf2e9; */
}
.main-nav {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  gap: 24px;
  list-style: none;
}
.main-nav-list:link,
.main-nav-list:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
